.container{
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    gap: 1px;
}
.grid-row{
    display: flex;
    gap: 1px;
    flex: 1;
}
.grid-item{
    background-color: cadetblue;
    box-sizing: content-box;
    flex: 1;
}