.container{
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    gap: 1px;
    background-color: rebeccapurple;
}
.grid-row{
    display: flex;
    gap: 1px;
    flex: 1;
}
.grid-item{
    background-color: white;
    box-sizing: content-box;
    flex: 1;
}

button{
    margin: 10px 0px;
}